<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/layout/_head  %>
</head>
<body class="container">

<header>
    <% include ../views/layout/_header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome to Invision</h1>
        <p>This is great.</p>
    </div>
</main>

<footer>
    <% include ../views/layout/_footer %>
</footer>

</body>
</html>
