<form class="example-form" (ngSubmit)="form(saveForm.value)" [formGroup]="saveForm">
  <h1>User Form</h1>
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="first_name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="last_name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="user_email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Mobile Number</mat-label>
    <input matInput type="number" maxlength="10" formControlName="user_phone">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="saveForm.invalid">Submit</button>
</form>
